:root {
  --oilBlue: #5783fc;
  --darkGray: #343a40;
  --gray: #8a8a8a;
  --lightGray: #e9ecef;
  --red: #f42c10;
  --lightGreen: #74d186;
  --yellow: #fdd751e0;
  --pink: #f42c1082;

  --defaultSidePadding: 0 10px;
}
